body {
    font: size 1.2em;
    background: url('background.jpg');
    background-size: cover;
    color: purple
}

  .container {
    display: flex;
    justify-content: center;
    background-color: black;   
}

  .center {      
    width: 1024px;
    height: 768px;
    padding-top: 200px;      
    background-image: ;
    background-repeat: no-repeat;
  }

  .wrapper {
    padding-left: 330px;
  }

  #won {
    color: rgb(70, 223, 243);
    font-size: 1.5em;
  }

  #lost {
    color: red;
    font-size: 1.5em;
  }

  #attempts {
    color: green;
    font-size: 1.2em;
  }

  #playerGuess {
    color: blue;
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.6em;
  }